body {background-color: rgb(239, 247, 247);}

.head {margin: 10px;padding:20px;background-color:pink;color:black;text-align: center;font-family:fantasy;}

.navbar {margin: 10px;padding: 10px;background-color: black;text-align: center;}

.menubar li {display: inline;margin: 10px;padding: 10px;background-color:yellowgreen;}

a.menu {padding: 10px;background-color: rgb(102, 101, 101);text-decoration: none;}

a.menu:hover {font-size: 150%;background-color:pink;}

p {border-style: dashed;border-color: black;}  /*all lorem para*/

a.last:link, a:visited {background-color: white;color: black;border: 2px solid green;padding: 10px 20px;text-align: center;text-decoration: none;display: inline-block;}
   /* both <a> for go to top link last at page*/
a.last:hover, a:active {background-color: green;color: white;}

ol {list-style:upper-alpha;}

ul.list1 {list-style-type: disc;background: #ff9999;padding: 20px}

ul.list2 {list-style-type: disc;background: #99ffa7;padding: 20px;list-style-position: inside;}

